.sidepanel {
    position: fixed;
    display: flex;
    height: 340px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    top: 226px;
    left: 50px;
    &__divider {
        width: 2px;
        height: 70px;
        background-color: #000000;
    }
    &__text {
        width:24px;
        height: 148px;
        span {
            transform: rotate(-90deg) translate(-30%,-260%);
            display: block;
            width: 148px;
        }
    }
    &__link {
        svg path {
            &:hover {
                fill: $main-color;
            }
        }
    }
}